
.anchor-pane {
    -fx-background-color: radial-gradient(focus-distance 0%, center 50% 50%, radius 95%, #3e3e48, #000000);
}

.label {
    -fx-text-fill: #b9b9b9;
}

.text-field, .password-field {
    -fx-background-color: #b9b9b9;
}

.button {
    -fx-background-color: #2c3cff;
    -fx-text-fill: #b9b9b9;
}

.button:hover {
    -fx-background-color: #96342f;
}



