.button {
    -fx-background-color: #b9b9b9;
    -fx-text-fill: #2b2b35;
}

.anchor-pane {
    -fx-background-color: #2b2b35;
}

.label {
    -fx-text-fill: #b9b9b9;
}

.password-field {
    -fx-background-color: #b9b9b9;
    -fx-text-fill: #2b2b35;
}




